Final-Nodered app.json
[{"id":"2b4ca6e6.421bca","type":"tab","label":"Life Expectancy","disabled":false,"info":""},{"id":"419beb30.3e6c54","type":"ui_form","z":"2b4ca6e6.421bca","name":"","label":"","group":"7461bed.babbd4","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"Country","type":"text","required":true,"rows":null},{"label":"Year","value":"Year","type":"number","required":true,"rows":null},{"label":"Status","value":"Status","type":"text","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"Adult_Mortality","value":"Adult_Mortality","type":"number","required":true,"rows":null},{"label":"Infant_Deaths","value":"Infant_Deaths","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"Alcohol","type":"number","required":true,"rows":null},{"label":"Percentage_Expenditure","value":"Percentage_Expenditure","type":"number","required":true,"rows":null},{"label":"Hepatitis_B","value":"Hepatitis_B","type":"number","required":true,"rows":null},{"label":"Measles","value":"Measles","type":"number","required":true,"rows":null},{"label":"Under_Five_Deaths","value":"Under_Five_Deaths","type":"number","required":true,"rows":null},{"label":"Polio","value":"Polio","type":"number","required":true,"rows":null},{"label":"Total_Expenditure","value":"Total_Expenditure","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"Diphtheria","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"HIVAIDS","type":"number","required":true,"rows":null},{"label":"GDP","value":"GDP","type":"number","required":true,"rows":null},{"label":"Population","value":"Population","type":"number","required":true,"rows":null},{"label":"Thinness_10_19_years","value":"Thinness_10_19_years","type":"number","required":true,"rows":null},{"label":"Thinness_5_9_years","value":"Thinness_5_9_years","type":"number","required":true,"rows":null},{"label":"Income_Composition_of_Resources","value":"Income_Composition_of_Resources","type":"number","required":true,"rows":null},{"label":"Schooling","value":"Schooling","type":"number","required":true,"rows":null}],"formValue":{"Country":"","Year":"","Status":"","BMI":"","Adult_Mortality":"","Infant_Deaths":"","Alcohol":"","Percentage_Expenditure":"","Hepatitis_B":"","Measles":"","Under_Five_Deaths":"","Polio":"","Total_Expenditure":"","Diphtheria":"","HIVAIDS":"","GDP":"","Population":"","Thinness_10_19_years":"","Thinness_5_9_years":"","Income_Composition_of_Resources":"","Schooling":""},"payload":"","submit":"Predict","cancel":"Reset","topic":"","x":90,"y":80,"wires":[["d0229081.79357"]]},{"id":"d0229081.79357","type":"function","z":"2b4ca6e6.421bca","name":"GlobalSet-Api","func":"//make user give values as global variables\nglobal.set(\"Country\",msg.payload.Country);\nglobal.set(\"Year\",msg.payload.Year);\nif (msg.payload.Status === \"Developed\") {\n   global.set(\"Developed\",1);\n   global.set(\"Developing\",0);\n}\nif(msg.payload.Status === \"Developing\"){\n    global.set(\"Developing\",1);\n    global.set(\"Developed\",0);\n}\nglobal.set(\"Status\",msg.payload.Status);\nglobal.set(\"BMI\",msg.payload.BMI);\nglobal.set(\"Adult_Mortality\",msg.payload.Adult_Mortality);\nglobal.set(\"Infant_Deaths\",msg.payload.Infant_Deaths);\nglobal.set(\"Alcohol\",msg.payload.Alcohol);\nglobal.set(\"Percentage_Expenditure\",msg.payload.Percentage_Expenditure);\nglobal.set(\"Hepatitis_B\",msg.payload.Hepatitis_B);\nglobal.set(\"Under_Five_Deaths\",msg.payload.Under_Five_Deaths);\nglobal.set(\"Polio\",msg.payload.Polio);\nglobal.set(\"Total_Expenditure\",msg.payload.Total_Expenditure);\nglobal.set(\"Diphtheria\",msg.payload.Diphtheria);\nglobal.set(\"HIVAIDS\",msg.payload.HIVAIDS);\nglobal.set(\"GDP\",msg.payload.GDP);\nglobal.set(\"Population\",msg.payload.Population);\nglobal.set(\"Thinness_10_19_years\",msg.payload.Thinness_10_19_years);\nglobal.set(\"Thinness_5_9_years\",msg.payload.Thinness_5_9_years);\nglobal.set(\"Income_Composition_of_Resources\",msg.payload.Income_Composition_of_Resources);\nglobal.set(\"Schooling\",msg.payload.Schooling);\nglobal.set(\"Measles\",msg.payload.Measles);\n\n//For receiving the token\nvar apikey=\"kpF0qTAsm0naE7mmkLNX-ddM4be4TV0fQZFvmil3tcgu\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":80,"wires":[["e22ad8e7.45ac68"]]},{"id":"e22ad8e7.45ac68","type":"http request","z":"2b4ca6e6.421bca","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":80,"wires":[["9bfedb54.511538"]]},{"id":"9bfedb54.511538","type":"function","z":"2b4ca6e6.421bca","name":"AccessToken-sendToEndPoint","func":"var token=msg.payload.access_token;\nvar instance_id=\"bcebc0bc-54c6-4eb9-a52b-c4ac97705644\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\n\n//\nvar Country = global.get('Country');\nvar Year = global.get('Year');\nvar Developed = global.get('Developed')\nvar Developing = global.get('Developing')\nvar Status = global.get('Status');\nvar BMI = global.get('BMI');\nvar Adult_Mortality = global.get('Adult_Mortality');\nvar Infant_Deaths = global.get('Infant_Deaths');\nvar Alcohol = global.get('Alcohol');\nvar Percentage_Expenditure = global.get('Percentage_Expenditure');\nvar Hepatitis_B = global.get('Hepatitis_B');\nvar Under_Five_Deaths = global.get('Under_Five_Deaths');\nvar Polio = global.get('Polio');\nvar Total_Expenditure = global.get('Total_Expenditure');\nvar Diphtheria = global.get('Diphtheria');\nvar HIVAIDS = global.get('HIVAIDS');\nvar GDP = global.get('GDP');\nvar Population = global.get('Population');\nvar Thinness_10_19_years = global.get('Thinness_10_19_years');\nvar Thinness_5_9_years = global.get('Thinness_5_9_years');\nvar Income_Composition_of_Resources = global.get('Income_Composition_of_Resources');\nvar Schooling = global.get('Schooling');\nvar Measles = global.get('Measles');\n\n//send user values to service endpoints\nmsg.payload={\n\"fields\":['Year', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 'Schooling', 'Developed', 'Developing'],\n\"values\" : [[Year, Adult_Mortality, Infant_Deaths, Alcohol, Percentage_Expenditure, Hepatitis_B, Measles, BMI, Under_Five_Deaths, Polio, Total_Expenditure, Diphtheria, HIVAIDS, GDP, Population, Thinness_10_19_years, Thinness_5_9_years, Income_Composition_of_Resources, Schooling, Developed, Developing]]\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":80,"wires":[["a1899bb1.19bff8"]]},{"id":"a1899bb1.19bff8","type":"http request","z":"2b4ca6e6.421bca","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/bcebc0bc-54c6-4eb9-a52b-c4ac97705644/deployments/e19f1703-cbb3-4d3c-bb27-e0c1fcef6571/online","tls":"","persist":false,"proxy":"","authType":"basic","x":130,"y":260,"wires":[["91cba2c.c189d6","ab1fc62.8291238"]]},{"id":"ab1fc62.8291238","type":"function","z":"2b4ca6e6.421bca","name":"Result-getFromEndPoint","func":"//actually getting our predicted values\nmsg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["16481b7b.ca0a45","d870bd8e.6fb62"]]},{"id":"16481b7b.ca0a45","type":"ui_text","z":"2b4ca6e6.421bca","group":"7461bed.babbd4","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":260,"wires":[]},{"id":"91cba2c.c189d6","type":"debug","z":"2b4ca6e6.421bca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":170,"y":340,"wires":[]},{"id":"d870bd8e.6fb62","type":"debug","z":"2b4ca6e6.421bca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":380,"wires":[]},{"id":"7461bed.babbd4","type":"ui_group","z":"","name":"Life Expectancy","tab":"d11d9ffa.5d4c4","order":1,"disp":true,"width":"6","collapse":false},{"id":"d11d9ffa.5d4c4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]